#Ignore file endind with map
*.map

# Application
web/app/composer.lock
web/app/vendor/
web/app/doc/
web/app/report/
data/

# Ignore PHPSTORM files.
/.idea/

/web/public/

# Ignore settings local files.
/web/app/Drupal/parameters.yml
/web/app/Drupal/settings/settings.local.php
/web/app/Drupal/settings/development.services.yml
/web/app/vendor/
/web/app/bin/
/web/app/composer.lock

# TO DELETE IF YOU WANT ADD YOUR CONFIG IN YOUR GIT REPO.
web/app/Drupal/config/*

###                                                                          ###
#                                                                              #
# ------- Uncomment that if you need to add web/* files into your git. ------  #
#                                                                              #
###                                                                          ###

#/web/public/public/core/
#/web/public/modules/contrib
#/web/public/themes/contrib
#/web/public/profiles/contrib
#/web/public/libraries/

# Ignore Core files provide by drupal-scaffold.
#/web/public/csslintrc
#/web/public/.editorconfig
#/web/public/.eslintignore
#/web/public/.eslintrc
#/web/public/.gitattributes
#/web/public/.htaccess
#web/public/index.php
#web/public/profiles/
#web/public/robots.txt
#/web/public/public/sites/default/
#web/public/sites/example.settings.local.php
#web/public/sites/example.sites.php
#web/public/update.php
#web/public/web.config
#web/public/autoload.php
#web/public/sites/development.services.yml

# Ignore default text files provide by scaffold
#/web/public/CHANGELOG.txt
#/web/public/COPYRIGHT.txt
#/web/public/INSTALL*.txt
#/web/public/LICENSE.txt
#/web/public/MAINTAINERS.txt
#/web/public/UPGRADE.txt
#/web/public/README.txt
#/web/public/sites/all/README.txt
#/web/public/sites/all/modules/README.txt
#/web/public/sites/all/themes/README.txt
