{
  "require": {
    "drupal/allowed_formats": "1.x",
    "drupal/inline_entity_form": "1.0.0-alpha6",
    "drupal/toolbar_menu": "1.x",
    "drupal/pathauto": "1.x",
    "drupal/token": "1.x",
    "drupal/paragraphs": "1.x-dev",
    "drupal/adminimal_theme": "^1.3",
    "drupal/dropzonejs": "^1.0@alpha",
    "drupal/ctools": "^3.0@alpha",
    "drupal/features": "^3.0.0",
    "drupal/devel": "1.x",
    "drupal/field_group": "1.0.0-rc6",
    "drupal/imagick": "1.0",
    "drupal/admin_toolbar": "^1.0",
    "drupal/libraries": "3.x-dev",
    "drupal/entity_browser": "2.0.0-alpha1",
    "drupal/form_mode_manager": "^1.0",
    "drupal/crop": "^2.0@beta",
    "drupal/image_widget_crop": "2.x-dev"
  },
  "extra": {
    "patches": {
      "drupal/entity_browser": {
        "2865928 - The View widget should filter based on field settings": "https://www.drupal.org/files/issues/entity-browser-view-context-2865928-14.patch",
        "2877751 - Inform users how many items they can add to a field that uses an entity browser": "https://www.drupal.org/files/issues/2877751-17.patch"
      }
    }
  }
}
