parameters:
    site.name: 'Your Website Name'
    site.locale: en
    site.profile: standard
    admin.account.name: admin
    admin.account.password: admin
    admin.account.mail: your@mail.fr
    site.language.uuid: ''
    site.language.locale: en
    dev.modules:
        - devel
        - kint
        - admin_toolbar